{{!-- ? https://www.phind.com/search?cache=ozq3509z736qw5d2m8z19mnn --}}
<!DOCTYPE html>
<html>
<body>
    <div>
        <h4>
            Hello {{name}}, please reset your password by clicking this link below.
        </h4>
        <a href="{{url}}">Click here to reset your password</a> 
    </div>
</body>
</html>